{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Zaloguj |{% endblock %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Zaloguj się</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-lg btn-block btn-primary btn-main' type="submit" value="{% trans 'Wyślij' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

</div>
<hr/>
<p class='lead col-sm-6 col-sm-offset-3 text-align-center'>{% trans "Zapomniałeś hasła?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Zresetuj je!" %}</a>!</p>
<p class='lead col-sm-6 col-sm-offset-3 text-align-center'>{% trans "Nie jesteś zarejestrowany?" %} <a href="{% url 'registration_register' %}">{% trans "Załóż konto!" %}</a>!</p>


{% endblock %}
