{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1 class="text-allign-center">Zarejestruj się za darmo!</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-lg btn-block btn-primary btn-main' type="submit" href="/" value="{% trans 'Dołącz' %} &curarr;" />
</form>
</div>
</div>

<hr/>

<p class="lead col-sm-6 col-sm-offset-3 text-align-center">Chcesz się <a href="{% url 'auth_login' %}">zalogować</a>?</p>



{% endblock %}
