{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Wydatki |{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {% if title %}
        <h1 class="text-align-center">{{ title }}</h1>
        {% endif %}
        <div class="text-align-center" style="font-style: italic">
        <p>Jeśli chcesz aby twój wydatek mógł być przypisany do tego konta w polu 'Użytkownik' wpisz swoją nazwę użytkownika.</p>
        <p>Jest ona widoczna w prawym górnym rogu panelu.</p>
        </div>
    <form method="POST" action="">{% csrf_token %}
        {{ form|crispy }}
        <h5 class="text-align-center" style="font-style: italic">* - wymagane pola</h5>
        <input class="btn btn-primary btn-main" type="submit" value="Dodaj" style="padding-left: 60px; padding-right: 60px">
        <input class="btn btn-default btn-main" value="Wyczyść"
               onclick="document.querySelector('#id_użytkownik').value = '';
               document.querySelector('#id_kategoria').value = '';
               document.querySelector('#id_kwota').value = '';">
    </form>
    </div>
</div>
<h2 class="text-align-center">Suma twoich wydatków w tym miesiącu: {{ suma }} zł</h2>
<div class="row">
    <h2 class="text-align-center">Twoje wydatki w tym miesiącu </h2>
    <table class="table">
    <tr><td>Lp</td><td>Kategoria wydatku</td><td>Kwota wydatku[zł]</td><td>Data dodania wydatku</td></tr>
    {% for instance in queryExpenses %}
            <tr><td>{{ forloop.counter }}</td><td>{{ instance.kategoria }}</td><td>{{ instance.kwota }}</td><td> {{ instance.data_dodania }}</td></tr>
    {% endfor %}
    </table>
</div>
{% endblock %}