{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Dochody |{% endblock %}

{% block content %}

    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {% if title %}
        <h1 class="text-align-center">{{ title }}</h1>
        {% endif %}
    <form method="POST" action="">{% csrf_token %}
        {{ form|crispy }}
        <h5 class="text-align-center" style="font-style: italic">* - wymagane pola</h5>
        <input class="btn btn-lg btn-block btn-primary btn-main" type="submit" value="Dodaj" style="padding-left: 60px; padding-right: 60px">
    </form>
    </div>
    </div>
    {{ przelicznik }}
    <h2 class="text-align-center">Suma twoich zarobków w tym miesiącu: {{ suma }} zł</h2>
    <div class="row">
        <h2 class="text-align-center">Twoje zarobki w tym miesiącu</h2>
        <table class="table">
        <tr><td>Lp</td><td>Kategoria zarobku</td><td>Kwota zarobku</td><td>Waluta</td><td>Data dodania zarobku</td></tr>
        {% for instance in queryIncomes %}
                <tr><td>{{ forloop.counter }}</td><td>{{ instance.kategoria }}</td><td>{{ instance.kwota }}</td><td>{{ instance.waluta }}</td><td> {{ instance.data_dodania }}</td></tr>
        {% endfor %}
        </table>
    </div>



{% endblock %}